/* $Id$ */

h2.styleguide {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ccc;
  margin: 3em 0 0.25em 0;
  padding: 0;
}

div.styleguide {
  border-top: 1px solid #ccc;
  margin: 0em 0 2em 0;
  padding: 0;
}
